
.container, md-content.md-primary-theme-theme {
	background-color: #f6f6f6;
}

@font-face {
  font-family: 'Action';
  src: url('../fonts/Action_Man.ttf')  format('truetype'); 
}

/* Formato cabecera */
.toolbar .titulo {
  font-family: 'Action';
}

/* Botón flotante */
.float-right {
    float: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Botón más (descripción) */
.collapse-text-toggle.md-accent {
 	padding: 0;
	margin: 0;
    font-size: 12px;
    line-height: 24px;
    min-height: 24px;
    min-width: 60px;
}

/* Formulario de Búsqueda */
#bloqueControl {
    text-align: center;
}

.label {
    color: rgba(0,0,0,0.54);
    font-size: 16px;
}

/* Películas */
md-card md-card-title md-card-title-media .md-media-md {
    height: 150px;
    width: 112px;
    margin-right: 10px;
}

md-card md-card-title md-card-title-media .md-media-md img {
	height: 100%;
	width: auto;
	float: left;
}

md-card {
	width: 48%;
	float: left;
}

.md-chips .md-chip {
	background: rgb(224,224,224);
	cursor: pointer;
}

.md-chips .md-chip:active {
	background: none;
}

#movies {
	width: 100%;
}

/* Animaciones */

.fade.ng-enter {
  animation: 2s appear;
}

.fade.ng-leave {
  animation: 1s disappear;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}