<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="css/angular-material.min.css">
	<link rel="stylesheet" href="css/styles.css">

	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-animate.min.js"></script>
	<script src="js/lib/angular-aria.min.js"></script>
	<script src="js/lib/angular-material.min.js"></script>
	<script src="js/lib/angular-resource.js"></script>

	<!-- Mi JavaScript -->
	<script src="js/app.js"></script>
	<script src="js/services.js"></script> 

	<script src="js/lib/dd-text-collapse.js"></script>

	<title>Buscador de películas</title>

</head>
<body>


<section class="container md-whiteframe-z1" md-theme="primary-theme" ng-controller="MainController as main" >

	<md-toolbar class="demo-toolbar md-primary site-content-toolbar" >
	    <div class="md-toolbar-tools">
	      <h3 class="ng-binding">Buscador de películas</h3>
	      <span flex="" class="flex"></span>
	      	
			<md-button class="md-raised" ng-click="searchAll()">Mostrar todas</md-button>
			<md-button class="md-raised" ng-click="index()">Generar índice</md-button>
	    </div>
	</md-toolbar>

	<div class="md-inline-form" ng-cloak>

		<div id="bloqueControl">
			<form id="searchForm">
				<md-content layout-padding  layout-sm="column">

					<div layout layout-sm="column">
						<md-input-container flex>
							<input ng-model="query" aria-label="busqueda" placeholder="Búsqueda general">
						</md-input-container>
						<md-input-container flex>
							<input ng-model="title" aria-label="título" placeholder="Título">
						</md-input-container>
						<md-input-container flex>
							<input ng-model="description" aria-label="descripción" placeholder="Descripción">
						</md-input-container>
						<md-input-container flex>
							<input ng-model="runtime" aria-label="duración" placeholder="Duración (minutos)" type="number">
						</md-input-container>
					</div>

					<div layout layout-sm="column">
						<md-chips ng-model="genres" readonly="false" placeholder="Géneros"
       						delete-button-label="Eliminar género" md-separator-keys="keys"
        					delete-hint="Pulsa para eliminar el género"
        					secondary-placeholder="Géneros">
					    </md-chips>
						<md-chips ng-model="cast" readonly="false" placeholder="Reparto/personaje"
       						delete-button-label="Eliminar actor/actriz" md-separator-keys="keys"
        					delete-hint="Pulsa para eliminar el actor/actriz"
        					secondary-placeholder="Reparto/personaje">
					    </md-chips>
					    <md-chips ng-model="director" readonly="false" placeholder="Director"
       						delete-button-label="Eliminar director" md-separator-keys="keys"
        					delete-hint="Pulsa para eliminar el director"
        					secondary-placeholder="Director">
					    </md-chips>


					    <md-checkbox ng-model="strict" aria-label="búsqueda estricta" class="label">
				        	Búsqueda estricta
				        	<md-tooltip>
					        	Si seleccionas la casilla se mostrarán los resultados que contengan todos los campos de búsqueda
					        </md-tooltip>
				        </md-checkbox>
					</div>
 					
					<div layout layout-sm="column">
						<div flex="10" layout layout-align="center center">
					        <span class="md-body-1 label">Votación mínima</span>
					    </div>
						<md-slider flex md-discrete ng-model="minVote" step="0.5" min="0" max="10" aria-label="voto mínimo"></md-slider>
						
						<div flex="10" layout layout-align="center center">
					        <span class="md-body-1 label">Año inicial</span>
					    </div>
						<md-slider flex md-discrete ng-model="yearInit" step="1" min="1900" max="2015" aria-label="año de inicio"></md-slider>

						<div flex="10" layout layout-align="center center">
					        <span class="md-body-1 label">Año final</span>
					    </div>
						<md-slider flex md-discrete ng-model="yearEnd" step="1" min="1900" max="2015" aria-label="año final" ></md-slider>

					</div>
				</md-content>

				<md-button class="md-raised md-primary" ng-click="search()" >Buscar</md-button>
				<md-button class="md-raised" ng-click="resetSearch()">Reset</md-button>
			</form>

		</div>

	 	<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading.valor">
		    <md-progress-circular md-mode="indeterminate" md-diameter="72"></md-progress-circular>
		</div> 

		<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
			<div id="movies" ng-show="movies.length">
				<h1 class="md-headline">{{movies.length}} películas encontradas</h1>

				<div ng-repeat="movie in movies" class="fade ng-binding ng-scope">
					<md-card>
				        <md-card-title>
				        <md-card-title-media ng-show="movie.urlPoster">
				            <div class="md-media-md card-media"><img src="https://image.tmdb.org/t/p/w185/{{movie.urlPoster}}" /></div>
				            
				            
				            <md-button class="md-raised md-accent" ng-click="showSimilarMovies($event, movie.id)" >Similares</md-button>
							
				          </md-card-title-media>
				          <md-card-title-text>
				            <span class="md-headline">{{movie.title}}
				            <md-button class="md-fab md-mini md-primary" aria-label="vote average">{{movie.voteAverage}}</md-button>
				            <span class="md-subhead"> ({{movie.year}}) </span>
				            <span class="md-subhead" ng-show="movie.runtime > 0">{{movie.runtime}} min.</span>
				            </span>

				            <span dd-text-collapse dd-text-collapse-max-length="250" dd-text-collapse-text="{{movie.description}}" class="md-body-1"></span>

				            <span class="md-subhead">Géneros</span>
							<md-chips
						        ng-model="movie.genres"
						        readonly="true"></md-chips>


						    <span class="md-subhead">Director</span>
						    <div class="md-chips">
							    <div ng-repeat="director in movie.people | filter:{ type: 'DIRECTOR' }" >
								    <span class="md-chip md-readonly">
									    <span class="md-chip-content">
									    	{{director.name}}
									    </span>
							    	</span>
							    </div>
						    </div>

						    <!-- Colapsar reparto -->
						  	<span class="md-subhead">Reparto</span>
						  	<div class="md-chips">
							    <div ng-repeat="actor in movie.people | filter:{ type: 'CAST' } | limitTo: 6"  >
								    <span class="md-chip md-readonly">
									    <span class="md-chip-content">
									    	{{actor.name}}
									    </span>
							    	</span>
							    </div>
						    </div>

						    <!-- Escritores -->


				          </md-card-title-text>
				          
				        </md-card-title>
				        <md-card-actions layout="row" layout-align="end center">
				          <!-- <md-button>Action 1</md-button>
				          <md-button>Action 2</md-button> -->
				        </md-card-actions>
				      </md-card>
			      </div>

				<md-button class="float-right md-fab md-primary" aria-label="top" ng-href="#">
				  top
				</md-button>

	    	</div>
		</md-content>

		

	</div>

</section>


<script type="text/ng-template" id="dialog_similarMovies.html">
	<md-dialog aria-label="Películas similares" ng-cloak md-theme="primary-theme">
	  <form>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>Recomendaciones</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          X
	        </md-button>
	      </div>
	    </md-toolbar>
	    <md-dialog-content ng-controller="MainController as main">

			<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loadingSimilar.valor">
			    <md-progress-circular md-mode="indeterminate" md-diameter="72"></md-progress-circular>
			</div> 

			<div ng-repeat="movie in locals.similarMovies" class="fade ng-binding ng-scope">
				<md-card>
			        <md-card-title>
			        <md-card-title-media ng-show="movie.urlPoster">
			            <div class="md-media-md card-media"><img src="https://image.tmdb.org/t/p/w185/{{movie.urlPoster}}" /></div>
			          </md-card-title-media>
			          <md-card-title-text>
			            <span class="md-headline">{{movie.title}}
			            <md-button class="md-fab md-mini md-primary" aria-label="vote average">{{movie.voteAverage}}</md-button>
			            <span class="md-subhead"> ({{movie.year}}) </span>
			            <span class="md-subhead" ng-show="movie.runtime > 0">{{movie.runtime}} min.</span>
			            </span>

			            <span dd-text-collapse dd-text-collapse-max-length="250" dd-text-collapse-text="{{movie.description}}" class="md-body-1"></span>

			            <span class="md-subhead">Géneros</span>
						<md-chips
					        ng-model="movie.genres"
					        readonly="true"></md-chips>


					    <span class="md-subhead">Director</span>
					    <div class="md-chips">
						    <div ng-repeat="director in movie.people | filter:{ type: 'DIRECTOR' }" >
							    <span class="md-chip md-readonly">
								    <span class="md-chip-content">
								    	{{director.name}}
								    </span>
						    	</span>
						    </div>
					    </div>

					    <!-- Colapsar reparto -->
					  	<span class="md-subhead">Reparto</span>
					  	<div class="md-chips">
						    <div ng-repeat="actor in movie.people | filter:{ type: 'CAST' } | limitTo: 4"  >
							    <span class="md-chip md-readonly">
								    <span class="md-chip-content">
								    	{{actor.name}}
								    </span>
						    	</span>
						    </div>
					    </div>

					    <!-- Escritores -->


			          </md-card-title-text>
			          
			        </md-card-title>

			      </md-card>
		      </div>


	    </md-dialog-content>
	    <md-dialog-actions layout="row">
	      <span flex></span>
	      <md-button class="md-primary" style="margin-right:20px;">
	        Cerrar
	      </md-button>
	    </md-dialog-actions>
	  </form>
	</md-dialog>
</script>


</body>
</html>